@import url('materialize.css');
@import url('material-icons.css');
@import url('header.css');
@import url('login.css');
@import url('authentication.css');
@import url('inventario.css');
@import url('perfiles.css');
@import url('contacto.css');
@import url('soporte.css');
@import url('pago.css');

*{
  margin: 0;
  padding: 0;
}
body{
  background:#f0f0f0;

}
#fondoInicioSecion{
  background-image: url('../img/photo/fondoPortada01.jpg');
  background-repeat: initial;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] { -moz-appearance:textfield; }input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] { -moz-appearance:textfield; }