extends layouts
block header
  header#header.row.z-depth-3
    .encabezado.col.s7.row
      h3.col.linea Tecsisline 
      .menuBtn.col
        a#IniciarSesion.btn.waves-effect.waves-green.white.black-text( href="/login") Iniciar Sesion 
        a#Registrarse.btn.waves-effect.waves-green.white.black-text(href="/registrarse") Registrarse
    .col.s2.right
      .perfil.right
        img.fotoPerfil(src="/img/icons/perfil.png", alt="Foto de perfil")
        //-ul#subMenuPerfil
          each listPerfil in ["Perfil","configuración","Cerrar",]
            li 
              a(href=listPerfil)=listPerfil
        .perfilIconsRedesSociales
          img.icon.facebook.tiny(src="/img/icons/facebook-logo.png", alt="facebook-logo")
          img.icon.twitter(src="/img/icons/twitter-logo.png", alt="twitter-logo")
          img.icon.whatsapp(src="/img/icons/whatsapp-logo.png", alt="whatsapp-logo")  
    .col.s7
      nav#menu.nav-extended.grey.lighten-2
        ul#subMenu
          li.inicio
            a(href="/inicio") Inicio
          li 
            a(href="/productos") Productos
            ul.subMenu
              for list in ["Inventario"]
                li
                  a(href=list)=list
          li 
            a(href="") Soporte
          li
            a(href="/contactos") Contactos
          li 
            //i#r.material-icons shopping_cart
            a(href="/pago") Compras
          
    .col.s3
      .search.input-field.center-align
        i.material-icons search
        input#search.col.s6(type="search", name="buscar" placeholder="Buscar")
  block contenido