extends header
block titleMenu
  title Inicio
block contenido 
  main#inicio
    .carousel
      a.carousel-item(href="#1")
        img(src="img/photo/Notebook-9-Pro-3.jpg", alt="11")
      a.carousel-item(href="#2")
        img(src="img/photo/bafle.jpg", alt="22")
      a.carousel-item(href="#3")
        img(src="img/photo/balaca.jpg", alt="33")
      a.carousel-item(href="#4")
        img(src="img/photo/memoria-usb-plana-pp-y-paja-MO1275i--300x300.jpg", alt="44")
      a.carousel-item(href="#5")
        img(src="img/photo/buy_apple_iphone_xs_phone_-_gold_lowest_price_in_ksa.jpg", alt="55")
      a.carousel-item(href="#6")
        img(src="img/photo/caddy-bay-day-sata-2-53.jpg", alt="66")
