extends ../header
block titleMenu
  title pago
block contenido
    main#Pago
    .col.s12
      nav#menu.nav-extended.blue
        ul#subMenu
          li.Pago
            a(href="credito") Agregar tarjeta de credito o debito
          li 
            a(href="Efectivo") Pago en efectivo




      //- -for (var x = 0; x < 1; x++)
      //-   .col.s3
      //-     .card.z-depth-3
      //-       .card-img
      //-         img(src="img/photo/bafle.jpg", alt="")
      //-       .card-content
      //-         span.card-title.activator Bafle
      //-         p Bafle azul con amplio sonido y carga rapida