extends ../header
block titleMenu 
  title contactos
block contenido
  main#contentContactos.container
    .card.z-depth-3
      h3.center ¿Alguna duda?
      .contactos.card-content
        p No olvides comunicarte al siguiente número fijo <b>54268349</b> en Bogotá. <br> <br>
        |Encuentra nos en la siguiente dirección <b><u>Carrera 105 °N 68-17</u></b><br> <br> 
        |Dejanos saber cual es tu queja al siguiente correo electrónico <b><u>atencionalusuario@tecsisline.com</u></b>
      h4.truncate.center-align !PRÓXIMAMENTE CHAT INTERACTIVO¡
