extends ../header
block titleMenu
  title Registrarse
block contenido
  main#registrase.container
    .card.z-depth-3
      //- form.card-content#form-registrar(action="/registrarse", method="POST", enctype="multipart/form-data" )
      form.card-content#form-registrar(action="/registrarse", method="POST")

      
        fieldset.row.container
          .input-field.col.s5
            input.validate#primerNombre(type="text" pattern="^[A-Za-zÑñÁáÉéÍíÓóÚúÜü]+$" name="primerNombre" required)
            label(for="primerNombre") Primer Nombre
            span.helper-text(data-error="El campo obligatorio esta vació", data-success="Dato Valido") (*)Campo obligatorio
          .input-field.col.s6
            input#segundoNombre(type="text", pattern="^[A-Za-zÑñÁáÉéÍíÓóÚúÜü]+$" name="segundoNombre")
            label(for="segundoNombre") Segundo Nombre
            span.helper-text(data-error="El campo obligatorio esta vació", data-success="Dato Valido")
          .input-field.col.s5
            input.validate#primerApellido(type="text",pattern="^[A-Za-zÑñÁáÉéÍíÓóÚúÜü]+$" name="primerApellido" required)
            label(for="primerApellido") Primer Apellido
            span.helper-text(data-error="El campo obligatorio esta vació" data-success="Dato Valido") (*)Campo obligatorio
          .input-field.col.s6
            input#segundoApellido(type="text",pattern="^[A-Za-zÑñÁáÉéÍíÓóÚúÜü]+$" name="segundoApellido")
            label(for="segundoApellido") Segundo Apellido
            span.helper-text(data-error="El campo obligatorio esta vació", data-success="Dato Valido")
          .input-field.col.s5
            select#tipoDocumento(name="tipoDocumento"  )
              option(value="" selected,disabled) Seleccione
              option(value="1") Cédula de ciudadanía
              option(value="2") Cédula extranjera
              option(value="3") Tarjeta de Identidad
            label(for="tipoDocumento") Tipo de documento
            span.helper-text(data-error="No has seleccionado una opción", data-success="Selección valida") (*)Campo obligatorio
          .input-field.col.s
            input.validate#documento(type="number" pattern="^[0-9]+$" name="documento" required)
            label(for="documento") Numero de Documento
            span.helper-text(data-error="El campo obligatorio esta vació", data-success="Dato Valido") (*)Campo obligatorio
          .input-field.file-field.col.s11
            .btn-floating.btn.green.accent-5
              span
                i.material-icons add_photo_alternate
              input#foto(type="file" name="foto", accept="image/jpeg, image/png"  focus="disabled")
            .file-path-wrapper
              input.file-path.validate(type="text" name="fotoPath" accent="image/jpeg,  image/png" placeholder="sube una imagen o foto" )
          .input-field.col.s11
            input#email.validate(type="email" pattern="^[a-z0-9]+(\.[_a-z0-9])*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,15})$" name="email" required)
            label(for="correo") Correa electrónico
            span.helper-text(data-error="Verifique su correo electrónico", data-success="Dato Valido") (*)Campo obligatorio
          .input-field.col.s5
            input#password.validate(type="password", name="password" required)
            label(for="password") Contraseña
            span.helper-text(data-error="El campo obligatorio esta vació", data-success="Dato Valido") (*)Campo obligatorio
          .input-field.col.s6
            input#contraPassword.validate(type="password", name="contraPassword" required)
            label(for="contraPassword") Confirmar contraseña
            span.helper-text(data-error="El campo obligatorio esta vació", data-success="Dato Valido") (*)Campo obligatorio
          .input-field.col.s4
            input#codigoPostal(type="text", name="codigoPostal")
            label(for="codigoPostal") Código Postal
          .input-field.col.s4
            input#direction(type="text", name="direction")
            label(for="direction") Dirección
          .input-field.col.s4
            select#genero.validate(name="genero")
              option(value="No definido",selected,disabled) Seleccione
              option(value="Masculino") Masculino
              option(value="Femenino") Femenino
              option(value="Otro") Otro
            label(for="Genero") Genero
          .input-field.col.s5
            input#telephone(type="tel", name="telephone")
            label(for="telephone") Numero de contacto
          .input-field.col.s6
            input#country(type="text", name="country")
            label(for="country", ) País
      .card-action.container
        button.btn.waves-effect.waves-green.green.accent-4(type="submit",form="registrarse" disabled) Crear cuenta
          i.material-icons.left check_box