extends ../header
block titleMenu
  title Soporte
block contenido
  main#contentSoporte.container
  .container
    .card
      .card-content.row
        .col.l6.m6
          h5.header Mantenimiento Preventivo
          .card.horizontal
            .card-imagen
              img(src="img/photo/tecnico.jpeg", alt="soporteTecnico", width="220px", height="220px")
            .card-stacked
              .card-content
                ul.browser-default
                  li Limpieza de interna de portátiles y torres
                  li Instalación de antivirus
                  li Instalación de  herramienta office Microsoft
                  li Respaldo de información
        .col.l6.m6
          h5.header Mantenimiento Correctivo
          .card.horizontal
            .card-imagen
              img(src="img/photo/tecnico_2.jpeg", alt="soporteTecnico", width="220px", height="220px")
            .card-stacked
              .card-content
                ul.browser-default
                  li Cambio de periféricos
                  li Cambios de piezas de hardware
                  li Instalación y configuración de tarjetas gráficas
                  li Instalación y configuración de redes y wifi
      .card-action.center-align
        h5 Solicita tu servicio técnico al 
          span
            img(src="img/icons/whatsapp-logo.png", alt="whatsapp", width="25px", height="25px") 
            |(+57) 3901559999.
