
#header{
  border: 1px solid #777;
  border-radius: 4px;
  margin: 5px;
  background: white;
}
.row{
  margin: 0%;
  padding: 0%;
}
.encabezado{
  display: flex;
  align-items: center;
}
#menuBtn{
  display: flex;
  margin: 1px 0%;
}
.linea{
  border-right: 2px solid #000;
}
.btn{
  margin: 1ch;
}
#menu{
  width: 50vw;
  height: 2.5rem;
  border-radius: 5px;
  border: 1px solid #000;
  color: #000;
  margin: 3rem 1rem;
  padding: 0;
}
ul{
  padding: 0;
}
#menu ul{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 2.5rem;
  padding: 0;
}
#menu li{
  display: flex;
  align-items: center;
  border-right : 1px solid #000;
  height: 2.5rem;
  width: 100%;
  align-self: center;
  text-align: center;
}
#menu li:last-child{
  border: 0;
}
 .onActive{
  background: royalblue;
  color: #ccc;
  border-radius: 5px;
}
#menu .onActive>a{
  color: #fff;

}
#menu a{
  color: #000;
  font-size: 1.1vw;
  align-self: center;
  text-align: center;
  margin: 0% 1ch;
}

#search{
  margin: 2px;
  height: 20px;
  width: 85%;
}
.search{
  display: flex;
  align-items: center;
  border: 2px solid #000;
  border-radius: 100px;
  display: flex;
  width: 18vw;
}
.perfil{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 1rem 1rem 0 0;
  position: relative;
}
.fotoPerfil{
  border: 2px solid #000;
  border-radius: 100%;
  height: 14ex;
  float: right;
}
.material-icons{
  font-size: x-large;
}
.icon
{
  height: 2.2vw;
  margin: 10px .5vw;
}
@media screen and (max-width:870px){
  #menu{
    width: 55vw;
    margin: 2rem 1rem;
  }
  #menu li{
    padding: 0 5px; 
    margin: 0;
  }
  #menu a{
    font-size: x-small;
    padding: 2px;
  }
  .search{
    margin: 0 2ex;
  }
  .fotoPerfil{
    height:10ex;
  }
  .btn{
    width: 20ex;
    height: 5ex;
    margin: 2ex;
    padding: 0;
    font-size: x-small;
    line-height: 25px;
  }
  #menu .material-icons{
   font-size: larger;
    width: 10px;
  }
}