@import url('materialize.css');
@import url('material-icons.css');
@import url('header.css');
@import url('login.css');
@import url('authentication.css');
@import url('inventario.css');
@import url('perfiles.css');
@import url('contacto.css');
*{
  margin: 0;
  padding: 0;
} 
body{
  background:#f0f0f0;

}
#fondoInicioSecion{
  background-image: url('../img/photo/fondoPortada01.jpg');
  background-repeat: initial;
}
