extends ../header
block titleMenu 
  title productos-inventarios
block contenido
   main#contentInventario.container
    .card.z-depth-3
      .inventario.card-content
        table#i.responsive-table.striped.centered
          thead.center-align
            tr
              th Tipo producto
              th Marca  
              th Modelo
              th Serie    
          tbody
            tr
              td Bios
              td ASUS
              td THUT    
              td 987342556  
            tr
              td Teclado
              td Genius
              td XTDGamer
              td 489654786 
            tr
              td Monitor
              td SAMSUM
              td FULLCURVO
              td 06543521
            tr
              td Portatil
              td DELL
              td Alienword
              td 198735563565
      .button.card-action
        #AgregarProducto.modal
          .modal-content
            h4.center-align.green-text Se agrega un nuevo producto
          .modal-footer  
            a.modal-close.waves-effect.waves-green.btn.red.accent-4  cerrar
        a(href="#AgregarProducto").waves-effect.waves-light.btn.green.accent-4.modal-trigger Agregar producto
          i.material-icons.right add_shopping_cart

        #EliminarProducto.modal
          .modal-content
            h4.center-align Escribe el motivo
            textarea 
            
          .modal-footer  
            a.modal-close.waves-effect.waves-green.btn.red.accent-4  Cancelar
            
            a(href="/inventario").waves-effect.waves-green.btn.red.accent-4.left.green.accent-4  Enviar
        a(href="#EliminarProducto").waves-effect.waves-green.btn.right.red.accent-4.modal-trigger Eliminar  producto
          i.material-icons.right delete_forever
      
