extends ../header
block titleMenu 
  title productos-inventarios
block contenido
   main#contenInventario
    .inventario
      table
        thead
          tr
            th Tipo producto
            th Marca  
            th Modelo
            th Serie    
          tr      
        thead

        tbody
          tr
            td Bios
            td ASUS
            td THUT    
            td 987342556  
          tr
          tr
            td Teclado
            td Genius
            td XTDGamer
            td 489654786 
          tr  
          tr
            td Monitor
            td SAMSUM
            td FULLCURVO
            td 06543521
          tr
          tr
            td Portatil
            td DELL
            td Alienword
            td 198735563565
          tr
      .button    
        a.waves-effect.waves-green.btn.left.green.accent-4 Agregar producto
          i.material-icons.right add_shopping_cart
        
        a.waves-effect.waves-green.btn.right.red.accent-4 Eliminar  producto
          i.material-icons.right delete_forever
      
