extends ../header
block titleMenu
  title Productos
block contenido 
  main#contentProductos
    .row
      -for (var x = 0; x < 1; x++)
        .col.s3
          .card.z-depth-3
            .card-img
              img(src="img/photo/bafle.jpg", alt="")
            .card-content
              span.card-title.activator Bafle
              p Bafle azul con amplio sonido y carga rapida
            .card-reveal
              span.card-title.grey-text.text-darken-4 Bafle
              i.material-icons.right cerrar
              p Descripcion del producto.
            .card.action
              a.btn-floating.waves-effect.waves-grey.grey
                i.material-icons shopping_cart