<!DOCTYPE html>
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="../css/style.css")
    title Tecsisline
  body#fondoPortada
    main
     .slider.fullscreen
       ul.slides
         li
            a(href="/inicio")
              img(src="https://lorempixel.com/580/250/technics/6", alt="pruebas")
              .caption
                h3 Bienvenido a
                p TECSISLINE
         li
            a(href="/inicio")
              img(src="https://lorempixel.com/580/250/technics/7", alt="pruebas")
              .caption
                h3 Bienvenido a
                p TECSISLINE
         li
            a(href="/inicio")
              img(src="https://lorempixel.com/580/250/technics/4", alt="pruebas")
              .caption
                h3 Bienvenido a  
                p TECSISLINE
         li
            a(href="/inicio")
              img(src="https://lorempixel.com/580/250/technics/10", alt="pruebas")
              .caption
                h3 Bienvenido a
                p TECSISLINE
    include paginas view/scripts